# Ignore compiler output directories
build/
fileLstr/
*.obj
*.exe
*.pdb
*.ilk
src/notes.txt
include/old/
test\color_pixel_inspector.py

!src/
!include/
!thirdparty/
!build.bat
!test

!.gitignore
!build.bat
!debug.bat
!run.bat
!setup.bat
!shell.bat

